.product-details-page{
    display: flex;
    flex-direction: column;
    width: 100%;
     min-height: calc(100vh - 80px);
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}

.page-content{
    margin-top: -100px;
    width: 70%;
}

.path{
    display: flex;
    align-items: center;
}

.path a {
    text-decoration: none;
    color: gray;
}

.path a:hover{
    text-decoration: underline;
}

.path p{
    font-weight: 500;
}

.my-icon{
    margin-top: 6px;
    color: gray;
}

.product-details{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}

.product-details img{
    width: 450px;
    border-radius: 8px;
}


.product-info{
    height: 450px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.product-name{
    padding: 2rem 0;
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.product-desc {
    color: rgb(87, 86, 86);
}

.product-price{
    padding: 1rem 0;
    font-size: larger;
}

.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stars img{
    width: 24px;
    height: 24px;
}

.buttons-container{
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
}

.buttons-container button{
       display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #2c4ed1;
    border-radius: 8px;
    box-shadow: #2c4ed1 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 49%;
    border: 0;
}

.button-icons{
    margin-top: 3px;
}


