.product-card{
    /* flex: 1 1 220px; */
    padding: 1rem;
    max-width: 250px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 16px;
    transition: all 0.3s ease;
}

.product-card:hover{
    border: 1px solid #c6c6ff;
    box-shadow: #2a4494 0 10px 20px -10px;
}

.product-name{
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 100%;
white-space: nowrap;
    font-weight: bold;
    font-size: large;
    color:  #223b9c;
}

.product-card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.price-stock{
    display: flex; 
    justify-content: center;
    gap: 1rem;
}


.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #2a4494;
    border-radius: 16px;
    box-shadow: #2a4494 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    border: 0;
}

.my-icon{
    transition: all 0.3s ease;
}

.cart-button:hover{
    
    .my-icon{
        transform: rotate(5deg)
    }
}

/* Tablets */
@media (max-width: 1024px) {
   
}

/* Phones */
@media (max-width: 768px) {
 .product-card{
        /* flex: 1 1 220px; */
        padding: 0.5rem;
        max-width: 200px;
        width: 200px;
        height: 100%;
    }
    .product-name{
        font-weight: bold;
        font-size: medium;
        color:  #223b9c;
    }

    .product-card img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }

    .price-stock p{
        font-size: 14px;
    }

    
    .cart-button {
        box-shadow: #2a4494 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: inherit;
        font-size: 14px;
        padding: 8px ;
        width: 100%;
        border: 0;
    }


}

/* Small Phones */
@media (max-width: 480px) {
   .product-card{
        /* flex: 1 1 220px; */
        padding: 0.5rem;
        max-width: 150px;
        width: 150px;
        height: 100%;
    }
    .product-name{
        font-weight: bold;
        font-size: medium;
        color:  #223b9c;
    }

    .product-card img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }

    .price-stock p{
        font-size: 12px;
    }

    
    .cart-button {
        box-shadow: #2a4494 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: inherit;
        font-size: 14px;
        padding: 8px ;
        width: 100%;
        border: 0;
    }

}