.toast {
  position: fixed;
  top: 20px;
    right: 30px;
  background-color: #00b3e9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  animation: fadeInOut 3s forwards;
  z-index: 1000;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(10px); }
}
