<section class="home-page">
    <h1>Welcome to E-commerce</h1>
    <p>
        Discover everything you need in one place — from the latest mobile phones and stylish clothing 
        to kitchen essentials and everyday beauty products. We bring you quality, convenience, and great prices.
    </p>
    <a routerLink="/products">
         <lucide-icon [img]="ShoppingBag" class="my-icon"></lucide-icon>
         Shop Now
        </a>

    <div>
        <h3>Why Shop With Us?</h3>
        <ul>
            <li><lucide-icon [img]="ShoppingCart" class="my-icon"></lucide-icon> Wide range of daily-use products</li>
            <li><lucide-icon [img]="TruckElectric" class="my-icon"></lucide-icon>Fast and reliable delivery</li>
            <li><lucide-icon [img]="Wallet" class="my-icon"></lucide-icon>Secure and easy payments</li>
            <li><lucide-icon [img]="Star" class="my-icon"></lucide-icon> Trusted by thousands of happy customers</li>
        </ul>
    </div>
   

    <p>
        Start exploring now and make your shopping easy and enjoyable with DailyMart!
    </p>
</section>
