.cart{
    flex: 1;
    padding: 1rem;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cart-item-list{
    display: flex;
    max-height: 700px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;

}


.cart-item-list::-webkit-scrollbar {
  width: 6px;
    background-color: #2a449425;
}

.cart-item-list::-webkit-scrollbar-thumb {
  background-color: #2a4494;
  border-radius: 10px;
}

.cart-item{

    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.cart-item img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.item-info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.product-name{
    font-weight: 500;
    font-size: large;
}

.quantity-buttons{
    width: 90px;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.quantity-buttons button, .delete-button{
    font-size: small;
    background-color: transparent;
    border: none;
    padding: 0;
}

.quantity-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
     background: #2a4494;
     padding: 6px;
     border-radius: 50%;
     transition: all 0.3s ease-in-out;
}

.quantity-buttons button:hover{
    background-color:  #224870;
    box-shadow: #243876 0 10px 20px -10px;
}

.quantity-buttons img{
    height: 18px;
    width: 18px;
}

.delete-button{
    margin-left: auto;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.delete-button:hover{
    background-color: rgba(255, 124, 124, 0.295);
}

.delete-icon{
    color: rgb(216, 0, 0);
}

.my-icon{
    color: rgb(92, 92, 92);
}

.cart-summary{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-summary a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #2a4494;
    border-radius: 16px;
    box-shadow: #2a4494 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    border: 0;

}

.cart-summary a:hover{
    .icon{
    transform: scale(1.05);
    }

}

.icon{
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}



/* Tablets */
@media (max-width: 1024px) {
    .cart{
        min-height: calc(100vh - 64px);
        flex-direction: column-reverse;
        gap: 2rem;
    }


}

/* Phones */
@media (max-width: 768px) {  
    
    .product-name{
        font-weight: 500;
        font-size: medium;
    }

    .cart-item{
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }

    .cart-item img{
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }
    .quantity-buttons img{
        height: 14px;
        width: 14px;
    }

    .cart-summary a{
        font-size: 14px;
        padding: 10px;
        border: 0;

    }

}

/* Small Phones */
@media (max-width: 480px) {
   
}