/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
    width: 100vw;
  height: 100vh;
}

 body {
  box-sizing: border-box;
  margin: 0;
  min-width: 300px;
  width: 100vw;
  height: 100vh;
   font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


h1,h2, h3, h4, h5, h6, p{
    margin: 0;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: fit-content;
  justify-content: center;
  align-items: center;
}