<section class="checkout">
    <div class="path">
        <a routerLink="/cart">Cart</a>
        <lucide-icon [img]="ChevronRight" class="my-icon"></lucide-icon>
        <p>Checkout</p>
    </div>

    <form class="checkout-form" (ngSubmit)="onSubmit($event)">
     
        <div class="shipping-info">
            <h2 class="title">Shipping Info</h2>
            <input type="text" name="name" placeholder="Full Name"  required class="input"  [(ngModel)]="userName"/>
            <input type="text" name="address" placeholder="Address" required class="input"  [(ngModel)]="address"/>
            <input type="text" name="phone" placeholder="Phone Number" required class="input"  [(ngModel)]="phoneNumber"/>
            <label for="payment-method">Payment method:</label>
            <select name="payment-method" id="payment-method"  [(ngModel)]="payOption">
                <option value="cash-on-deleivery">Cash-on-delivery</option>
                <option value="google-pay">Google pay</option>
                <option value="cash-on-deleivery">Cash-on-delivery</option>
            </select>
        </div>

        <div class="order-summary">
            <h2 class="title">Order Summary</h2>
             <div class="order-item-list">
                @for(item of cart; track item.productId){
                    <div class="order-item">
                        <p> {{item.name}}  x {{item.quantity}} </p>
                        <p class="price"> ${{item.price! * item.quantity!}} </p>
                    </div>
                }
            </div>
            <hr />
            <div class="order-item">
                <p>Sub total</p>
                <p class="price">${{total}}</p>
            </div>
            <div class="order-item">
                <p>Delivery charges</p>
                <p class="price">$3</p>
            </div>
            <hr />
             <div class="order-item">
                <h3>Total</h3>
                <p class="price">${{total + 3}}</p>
            </div>
            <!-- Place Order -->
            <button type="submit" >
                <lucide-icon [img]="Truck" class="button-icon"></lucide-icon>Place Order
            </button>
        </div>
    </form>

</section>


